<%- contentFor('HeaderCss') %>
  <%- contentFor('body') %>
    <div class="auth-main v1">
      <div class="auth-wrapper">
        <div class="auth-form">
          <div class="card my-5">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/authentication/img-auth-fporgot-password.png" alt="images" class="img-fluid mb-3">
                <h4 class="f-w-500 mb-1">Forgot Password</h4>
                <p class="mb-3">Back to <a href="/login" class="link-primary ms-1">Log in</a></p>
              </div>
              <% if(message.length> 0) { %>
                <div class="p-3 rounded bg-success/20 text-success flash" role="alert">
                  <%= message %>
                </div>
                <% } %>
                  <% if(error.length> 0) { %>
                    <div class="p-3 rounded bg-danger/20 text-danger flash" role="alert">
                      <%= error %>
                    </div>
                    <% } %>
                      <form class="grid grid-cols-1 gap-4 sm:grid-cols-2 mt-3" method="post" action="/sendforgotpasswordlink">
              <div class="form-group mb-3">
                <label class="form-label">Email Address</label>
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email Address">
              </div>
              <div class="d-grid mt-3">
                <input type="submit" class="btn btn-primary" placeholder="Send reset email"/>
              </div>
              </form>
            </div>
          </div>
        </div>
        <%-include('../partials/auth-footer-block')%>
      </div>
    </div>
    <!-- [ Main Content ] end -->
    <%- contentFor('FooterJs') %>