<%- include ('../partials/main') %>

<head>
    <%- include ('../partials/title-meta') %>
    <%- HeaderCss %>
    <%- include ('../partials/head-css') %>
</head>
<body class="layout-2" <%=bodySetup %>>
<%- include('../partials/loader.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <%- include('../partials/topbar.ejs') %>
    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <%- body%>
        </div>
    </div>

    <%- include ('../partials/footer-block') %>
    <%- include ('../partials/footer-js') %>
    <%- include ('../partials/customizer') %>
    <%- FooterJs %>


</body>

</html>