
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/TitleMeta.cshtml")

    @RenderSection("styles", required: false)

    @Html.Partial("~/Views/Shared/HeadCSS.cshtml")
</head>
<body data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">

    @Html.Partial("~/Views/Shared/LayoutTab.cshtml")

    <div class="pc-container">
        <div class="pc-content">

            @Html.Partial("~/Views/Shared/Breadcrumb.cshtml")

            @RenderBody()
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Footer.cshtml")

    @Html.Partial("~/Views/Shared/Customizer.cshtml")

    @Html.Partial("~/Views/Shared/VendorScripts.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>